@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  box-sizing: border-box
}

body {
  font-family: 'Montserrat', 'sans-serif';
  color: #774e2e;
  margin: 0px;
  padding: 30px

}

.container {
  max-width: 1170px;
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: #774e2e;
}