@import 'materialize-css/dist/css/materialize.min.css';

body {
    margin: 0;
    padding: 0;
    background-color: rgb(217, 226, 233);
}

span {
    color: rgb(117, 142, 158);
}

input:focus + label {
    display:  none;
}

.todo {
    margin-bottom: 1.5rem;
}

.todo.status span {
    text-decoration: line-through;
}

.todo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: rgb(202, 211, 217);
    padding: 1rem;
    gap: 20px;
}

.todo i {
    z-index: 5;
}
.input-field input {
    position: relative;
    z-index: 100;
}

.none {
    display: none;
}

.date span {
    display: block;
    font-weight: bold;
}
.red-text {
    font-size: 20px;
}