body {
    margin: 0;
    padding: 0;
    background-color: rgb(217, 226, 233);
    text-align: center;
}

.container {
    border: 3px solid green;
    margin: 100px;
}
.homework {
    margin-bottom: 300px;
}