* {
    font-family: Fire Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    margin: auto 0px;
    text-align: center;
    font-size: 16px;
}

.task-block {
    padding: 30px;
}
.container {
    display: flex;
    flex-direction: row;
}
